<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ute.learnenglishvocab">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.ute.learnenglishvocab.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.GuildGameXepChu"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.TimerActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.GameChonHinh"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.HuongDanActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.Game2Activity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.Game1Activity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.TranslationActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.SignUpctivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.GameXepChu"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.hoso"
            android:exported="false" />
        <activity
            android:name="com.ute.learnenglishvocab.HeyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ute.learnenglishvocab.HomeActivity"
            android:exported="false" />

        <receiver android:name="com.ute.learnenglishvocab.AlarmReceiver" />
    </application>

</manifest>